body{
	font-family: arial, helvetica, sans-serif;
	font-size:14px;
	color:black;
	background-color: #ffc;
	margin: 20px;
	padding: 0;
}

p {
    letter-spacing: 0.1em;
    word-spacing: 2em;
    line-height: 21px;
    text-align: center;
}

h1{
	color:#ffc;
	background-color:#009;
	font-size: 2em;
	margin: 0;
	margin-bottom: 7px;
	padding: 4px;
	font-style: italic;
	text-align: center;
	letter-spacing: 0.5em;
	border-bottom-style: solid;
	border-bottom-width: 0.5em;
	border-bottom-color: lime;
}

h2 {
	color:white;
	background-color:#090;
	font-size:1.5em;
	margin:0;
	padding:2px;
	padding-left:14px;
	border-style:dashed;
    border-width:3px;
    border-left-width:10px;
    border-right-width:10px;
    border-color:lime;
}

h3 {
	color: #999;
	font-size:1.25em;
}

img {
	border-style:dashed;
	border-width:2px;
	border-color:lime;
}
a {
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

li {
	color:#900;
	font-style:italic;
}

table {
	background-color:#ccc;
}

Body, p, h1, h2, h3, a, li, table{
	color:lime;
	background-color:black;
}