body{
	font-family: arial, helvetica, sans-serif;
	font-size:14px;
	margin: 20px;
	padding: 0;
}

p {
    letter-spacing: 0.1em;
    word-spacing: 0.5em;
    line-height: 21px;
    text-align: center;
    font: 14px/1.5 "Times New Roman", times, serif;
    padding: 30px 10px;
    border: 1px black solid;
    border-width: 1px 5px 5px 1px;
    border-color: red green blue yellow;
    margin: 10px 50px;
}

p:first-child{
	font:40px bold;
}

h1{
	font-size: 2em;
	margin: 0;
	margin-bottom: 7px;
	padding: 4px;
	font-style: italic;
	text-align: center;
	letter-spacing: 0.5em;
	border-bottom:0.5em lime solid;
}

h2 {
	font-size:1.5em;
	margin:0;
	padding:2px;
	padding-left:14px;
	border:lime dashed;
	border-width:3px 10px;
}

h3 {
	font-size:1.25em;
}

img {
	border:2px lime dashed;
}

a {
    text-decoration: none;
}

/* link changes from blue to purple if the link is visited */

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

li {
	color:#900;
	font-style:italic;
}

Body, p, h1, h2, h3, a, li, table{
	color:lime;
	background-color:black;
}